*{
	margin: 0;
	padding: 0;
}

#clockContainer{
	width: 40vw;
	height: 40vw;
	background: url(clock.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	position: relative;
	padding-top: 25px;
}

#hours, #minute, #second{
	position: absolute;
	background: #000;
	border-radius: 10px;
	transform-origin: bottom;
}

#hours{
	width: 2.5%;
	height: 30%;
	top: 20%;
	left: 48.7%;
}
#minute{
	width: 2%;
	height: 35%;
	top: 15.2%;
	left: 49%;
}
#second{
	width: .5%;
	height: 40%;
	top: 10%;
	left: 49.7%;
}
